@charset "utf-8";

html, body {
    padding: 0;
    margin: 0;
    background-color: #6c828e;
    color: white;
    font-family: 'Aseprite', monospace;
    -webkit-font-smoothing: none;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
}

html {
    font-size: 240%;
    line-height: 0.5em;
}

body {

}

body {
    -webkit-font-smoothing: none;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
}

button, select, input {
    font-family: 'Aseprite', monospace;
    font-size: 24px;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}

@font-face {
    font-family: 'Aseprite';
    src: local('Aseprite'), url(./fonts/aseprite-font.ttf) format('truetype');
}
